.chart-wrapper {
    width: 100%;
}

.chart-wrapper > div {
    margin-bottom: -15px;
}

.chart-wrapper .apexcharts-gridlines-vertical line {
    stroke: url(#gridGradient);
}

.chart-wrapper .no-pointer-events {
    pointer-events: none;
}
